.#{$app-name} {
  .section7 {
    $w: 1920;
    $h: 1200;
    $w-m: 1236;
    $h-m: 4200;

    background-color: #fffcf9;

    .app-inner {
      max-width: none;
    }
    .app-inner-contents {
      position: relative;
      width: clamp(686px, 80vw, 1198px);
      max-width: #{$w}px;
      margin: clp(90px, 108px) auto clp(80px, 125px);

      @include screen("mobile") {
        width: min(vw(1030px, $w-m), 1030px);
        margin-top: 93px;
        margin-bottom: 84px;
      }
    }

    .bear-guide {
      position: relative;
      display: flex;
      width: 100%;
      margin: 0 auto;
      gap: clp(14px, 24px);

      .story-wrap {
        position: relative;
        @include flex-row-center;
      }
      .story-title {
        @include flex-only-center;
        position: absolute;
        top: clp(-35px, -30px);
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        font-size: clp(1.25rem, 2rem, $ratio: 1.3);
        color: #2c201c;
        font-weight: 300;
        line-height: 1.2;
        width: 88%;
        min-height: clp(64px, 82px);
        padding: clp(16px, 22px, $ratio: 1.15) clp(0px, 22px, $ratio: 1.15) clp(12px, 20px, $ratio: 1.15);
        background-color: #fff;
        box-shadow: 0px 0px 27px 0px rgba(107, 95, 91, 0.1);
        border-radius: 10px;

        &::after {
          @include pseudo(clp(48px, 55px), clp(38px, 43px));
          @include res-bg;
          z-index: -1;
          background-image: url(images/sec07-ico-arrow-down.png);
          bottom: -15px;
        }
      }

      &1 {
        .story-title {
          min-width: 80.2%;
        }
      }

      @include screen("mobile") {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;

        .story-title {
          width: auto;
          height: 60px;
          min-width: 0;
          padding: 2px 0 0 0;
          font-size: clpm(1.35rem, 1.6rem);

          &::after {
            width: 30px;
            height: 31px;
            background-image: url(images/sec07-ico-arrow-down-m.png);
            bottom: -20px;
          }
        }

        &1 {
          .story-title {
            top: -40px;
            width: min(vw(770px, $w-m), 770px);
          }
        }
        &2 {
          margin-top: min(vw(144px, $w-m), 144px);
          .story-title {
            top: -20px;
            width: min(vw(870px, $w-m), 870px);
          }
        }
        &3 {
          margin-top: min(vw(190px, $w-m), 190px);
          .story-title {
            top: -33px;
            width: min(vw(870px, $w-m), 870px);
          }
        }
      }
    }

    .bear-deco {
      position: absolute;
      z-index: 2;
      width: clp(50px, 116px);
      right: percent(-84, $w);
      bottom: -6px;

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 230, $top: 3832, $left: 965);
        right: unset;
      }

      @include screen("tablet") {
        right: percent(-15, $w);
      }
    }

    .photos {
      position: relative;
      width: 100%;
      padding-bottom: clp(25px, 118px);

      .swiper-pagination,
      .swiper-button-next,
      .swiper-button-prev {
        display: none !important;
      }
    }

    .slider-wrapper {
      width: 100%;

      .swiper-wrapper {
        transition-timing-function: linear !important;
      }

      .swiper-slide {
        width: clp(140px, 226px);
        &:nth-child(even) {
          margin-top: min(vw(48px, $w), 48px);
        }
      }

      @include screen("mobile") {
        .swiper-slide {
          width: min(vw(474px, $w-m), 474px);
          &:nth-child(even) {
            margin-top: min(vw(96px, $w-m), 96px);
          }
        }
      }
    }
  }
}
