.#{$app-name} {
  .section2 {
    $w: 1920;
    $h: 1326;
    $w-m: 1236;
    $h-m: 3878;
    background-color: #fffcf9;
    padding-top: clamp(50px, 5vw, 90px);
    padding-bottom: clamp(120px, 5vw, 170px);

    .app-inner {
      position: static;
      transform: none;
      margin: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

    .app-section-title {
      font-weight: 700;
      font-size: clamp(2.6rem, 3vw, 5rem);
      margin-bottom: 40px;
      color: #2c201c;
    }

    .cont {
      max-width: 1200px;
      margin: auto;
      width: 100%;

      .row {
        display: flex;
        justify-content: center;
        gap: clamp(40px, 3vw, 100px);

        &+.row {
          margin-top: 50px;

          .columm {
            justify-content: start;
          }
        }

        .columm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          // flex: 1;
        }
      }
    }




    .messages {
      position: relative;
      padding-left: min(vw(106px, $w), 106px);

      >li {
        &+li {
          margin-top: clamp(19px, 1.5vw, 32px);
        }
      }

      &::before {
        @include pseudo(min(vw(101px, $w), 101px), min(vw(101px, $w), 101px));
        @include res-bg;
        top: min(vw(27px, $w), 27px);
        left: min(vw(0, $w), 0px);
        background-image: url(images/sec02-bear-profile.png);

      }

      p {
        font-weight: 300;
        font-size: clamp(1.5rem, 1.5vw, 2.2rem);
        line-height: clamp(20px, 2vw, 34px);
        background-color: #fff;
        border-radius: 45px 45px 45px 0;
        box-shadow: 8px 0px 32px 0px rgba(101, 80, 56, 0.09);
        padding: 28px 40px;
        margin-left: clamp(15px, 1vw, 26px);
        color: #2c201c;

        b {
          font-weight: 700;
        }
      }

    }

    .bear {
      width: clamp(200px, 30vw, 553px);
    }

    .shorts {
      width: clamp(260px, 30vw, 553px);

      &-frame {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 66.25%;
        border-radius: vw(50px, $w);

        iframe {
          position: absolute;
          top: -3px;
          left: 0;
          width: 100%;
          height: 101.5%;
          border: none;
        }

        @include screen("mobile") {
          border-radius: vw(50px, $w-m);

          iframe {
            top: -2px;
            height: 102%;
          }
        }
      }
    }

    @include screen("mobile") {
      padding-bottom: 15%;

      .cont {
        .row {
          flex-direction: column;

          &:first-child {
            flex-direction: column-reverse;
          }

          .columm {
            display: block;


          }
        }
      }

      .messages {
        padding-left: 60px;

        p {
          padding: 18px 18px 18px 26px;
          border-radius: 24px 24px 24px 0;
        }

        &::before {
          width: 60px;
          height: 60px;
        }
      }

      .bear {
        width: 100%;
      }

      .shorts {
        width: 100%;
      }
    }
  }


}