.#{$app-name} {
  .section9 {
    $w: 1920;
    $h: 957;
    $w-m: 1236;
    $h-m: 2630;
    padding-top: clamp(80px, 4vw, 140px);
    padding-bottom: clamp(120px, 4vw, 190px);
    background-color: #fffcf9;

    .app-inner {
      position: static;
      transform: none;
      max-width: none;
    }

    .app-section-title {
      font-weight: 700;
      font-size: clamp(2.2rem, 3vw, 5rem);
      line-height: clamp(28px, 3.5vw, 64px);
      // padding-bottom: clamp(10px, 1.5vw, 20px);
      text-align: center;
      color: #2c201c;

      strong {
        color: #e65219;
        font-weight: 700;
      }
    }

    .bear-message {
      display: flex;
      justify-content: center;
      align-items: end;
      text-align: left;
      font-weight: 300;
      font-size: clamp(1.5rem, 1.5vw, 2.2rem);
      line-height: clamp(19px, 2vw, 34px);
      color: #2c201c;
      gap: clamp(6px, 2vw, 18px);
      padding-bottom: clamp(30px, 2vw, 65px);


      img {
        flex: none;
        width: clamp(42px, 6vw, 91px);
      }
    }

    .stories {
      position: relative;
      margin-top: 44px;
      width: 100%;

      .swiper-buttons {
        position: absolute;
        top: 33.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 680px;
        z-index: 10;
      }

      .swiper-button-next,
      .swiper-button-prev {
        @include res-bg;
        @include hide-text;
        top: 0;
        width: 54px;
        height: 54px;
        transition: transform 300ms ease;

        &:hover {
          filter: brightness(1.04) contrast(1.07);
        }
      }

      .swiper-button-prev {
        left: 0;
        background-image: url(images/btn-prev-2.png);

        &:hover {
          transform: translateX(-3px);
        }
      }

      .swiper-button-next {
        right: 0;
        background-image: url(images/btn-next-2.png);

        &:hover {
          transform: translateX(3px);
        }
      }

    }

    .slider-wrapper {
      width: 100%;

      .swiper-slide {
        width: 602px;

        >h3,
        >p {
          @include sr-only;
        }
      }

      .swiper-pagination {
        position: relative;
        bottom: 0;
        margin-top: min(vw(47px, $w), 47px);
      }

      .swiper-pagination-bullet {
        background: #bfbab6;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: #2c201c !important;
        }
      }


    }

    .cont {
      border: 2px solid #2c201c;
      border-radius: 20px;
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 100%;

      .img {
        flex: none;
        width: 324px;
        border-right: 2px solid #2c201c;

        img {
          width: 100%;
        }

      }

      .inner {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .info {


        h3 {
          font-size: clamp(2.1rem, 2vw, 3rem);
          line-height: 1;
          font-weight: 700;
          margin-bottom: clamp(22px, 2vw, 30px);
        }

        p {
          font-weight: 300;
          font-size: clamp(1.5rem, 1.5vw, 1.75rem);
          line-height: 1.4;
        }
      }
    }

    @include screen("mobile") {
      padding-top: 15%;
      padding-bottom: 15%;

      .app-section-title {
        margin-bottom: 10px;
      }

      .slider-wrapper {
        margin-bottom: 20px;

        .swiper-slide {
          width: 278px;
        }

        .swiper-pagination {
          margin-top: 36px;
        }


      }

      .cont {
        border-radius: 17px;
        flex-direction: column;

        .img {
          width: 100%;
          border-right: none;
          border-bottom: 2px solid #2c201c;

        }

        .inner {
          width: 100%;
        }

        .info {
          width: 100%;
          padding-top: 30px;
          padding-bottom: 40px;
          padding-left: 28px;

          h3 {
            font-size: clamp(2.1rem, 2vw, 3rem);
            line-height: 1;
            font-weight: 700;
            margin-bottom: clamp(22px, 2vw, 30px);
          }

          p {
            font-weight: 300;
            font-size: clamp(1.5rem, 1.5vw, 1.75rem);
            line-height: 1.4;
          }
        }
      }
    }
  }
}