.#{$app-name} {
  .section7 {
    $w: 1920;
    $h: 1200;
    $w-m: 1236;
    $h-m: 4200;

    .app-inner {
      max-width: none;
    }
    .app-inner-contents {
      position: relative;
      max-width: #{$w}px;
      margin: 0 auto;
    }

    .bear-guide {
      position: relative;
      display: flex;
      width: min(vw(1198px, $w), 1198px);
      margin: min(vw(51px, $w), 51px) auto 0;
      gap: min(vw(24px, $w), 24px);

      @include screen("mobile") {
        flex-direction: column;
        flex-wrap: wrap;
        width: min(vw(1030px, $w-m), 1030px);
        margin-top: min(vw(270px, $w-m), 270px);
        gap: 0;

        .story-wrap {
          position: relative;
          .story-title {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
          }
          .story-image {
            position: relative;
            z-index: 0;
          }
        }

        &1 .story-title {
          top: -18%;
          width: percent(814px, 1056px);
          height: percent(283px, 818px);
        }
        &2 {
          margin-top: min(vw(144px, $w-m), 144px);
          .story-title {
            top: -10%;
            width: percent(913px, 1057px);
            height: percent(283px, 819px);
          }
        }
        &3 {
          margin-top: min(vw(190px, $w-m), 190px);
          .story-title {
            top: -15.6%;
            width: percent(914px, 1057px);
            height: percent(317px, 819px);
          }
        }
      }
    }

    .bear-deco {
      position: absolute;
      z-index: 2;
      @include to-percent($h, $w: 116, $top: 834, $left: 1520);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 230, $top: 3785, $left: 873);
      }
    }

    .photos {
      position: relative;
      margin-top: min(vw(124px, $w), 124px);
      width: 100%;

      .swiper-pagination,
      .swiper-button-next,
      .swiper-button-prev {
        display: none !important;
      }

      @include screen("mobile") {
        margin-top: min(vw(146px, $w-m), 146px);
      }
    }

    .slider-wrapper {
      width: 100%;

      .swiper-wrapper {
        transition-timing-function: linear !important;
      }

      .swiper-slide {
        width: min(vw(226px, $w), 226px);
        &:nth-child(even) {
          margin-top: min(vw(48px, $w), 48px);
        }
      }

      @include screen("mobile") {
        .swiper-slide {
          width: min(vw(474px, $w-m), 474px);
          &:nth-child(even) {
            margin-top: min(vw(96px, $w-m), 96px);
          }
        }
      }
    }
  }
}
