.#{$app-name} {
  @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
    .only-mo {
      display: block !important;
    }
    .only-pc {
      display: none !important;
    }
  }

  @media screen and (min-width: #{$breakpoint-tablet}) {
    .only-mo {
      display: none;
    }
    .only-pc {
      display: block;
    }
  }
}
