.#{$app-name} {

  * {
    font-family: $base-font-system;
  }

  position: relative;
  margin: 0 auto;
  min-width: $min-width;
  color: #222;

  .floating-button {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 40px;
    transition: transform 300ms;
    width: 14vw;
    min-width: 100px;
    max-width: 206px;

    &:hover {
      transform: translateY(-10px);
    }

    @include screen("tablet") {
      bottom: 15px;
      right: 15px;
    }

    @include screen("mobile") {
      right: unset;
      bottom: 12px;
      width: 100%;
      min-width: auto;
      max-width: none;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 vw(17px);
      }

      a>img.only-mo {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  .imgItem {
    .text {
      width: fit-content;

      span {
        display: block;
        color: #b0886a;
        font-size: clamp(1.6rem, 2vw, 2.3rem);
        line-height: clamp(24px, 3vw, 35px);
        font-weight: 400;
        margin-bottom: clamp(30px, 2vw, 60px);
      }

      small {
        color: #fff;
        font-size: clamp(1.2rem, 2vw, 1.8rem);
        line-height: clamp(22px, 2.5vw, 35px);
        white-space: nowrap;
      }

      .btn {
        margin-top: 20px;
        display: block;
        color: #fff;
        font-size: clamp(1.2rem, 2vw, 2rem);
        line-height: 1;
        text-decoration: underline;
      }

      p {
        color: #333333;
        font-size: clamp(1.6rem, 2vw, 3rem);
        line-height: clamp(21px, 3vw, 44px);
        padding-left: clamp(20px, 3vw, 40px);
        border-left: 4px solid #b0886a;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 94px;
        margin-top: 50px;
      }
    }
  }

  @include screen("mobile") {
    .imgItem {
      .text {
        p {
          margin-left: 0;
          margin-top: 22px;
          border-left-width: 2px;
        }
      }
    }
  }


  .swiper-button-next,
  .swiper-button-prev {
    background-image: url(images/ico-arrows.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: clamp(12px, 5vw, 26px);
    height: clamp(25px, 5vw, 54px);
  }

  .swiper-button-prev {
    left: 3vw;
  }

  .swiper-button-next {
    right: 3vw;
    transform: rotate(180deg);
  }

  .swiper-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;

    .pagination-inner {
      display: flex;
      align-items: center;
      gap: clamp(10px, 3vw, 15px);
    }

    .swiper-pagination-bullet-active {
      background-color: #b0886a !important;
    }

    .swiper-pagination-bullet {
      transition: all 0.4s;
      opacity: 1;
      width: clamp(10px, 1vw, 15px);
      height: clamp(10px, 1vw, 15px);
      border-radius: 100px;
      background-color: #c6c9d0;
    }
  }

  .app-section {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    .only-mo {
      width: 100%;
    }
  }

  .app-inner {
    max-width: $max-width;
    position: relative;
    margin: auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}