// -----------------------------------------------------------------------------
// Path
// -----------------------------------------------------------------------------
$base-sprite-image-url: "spr_asset.png" !default;
$base-sprite-image-width: 470px !default;
$base-sprite-image-height: 540px !default;

// -----------------------------------------------------------------------------
// Container
// -----------------------------------------------------------------------------
$min-width: 320px !default;
$max-width: 1920px !default;
$artboard-width: 1200px !default;
$container-padding: 0 !default;
$full-height: calc(var(--vh, 1vh) * 100) !default;

// -----------------------------------------------------------------------------
// Color
// -----------------------------------------------------------------------------
$background-color: #f3f3f3 !default;
$btn-text-color: rgba(255, 255, 255, 0.74) !default;
$btn-text-disable-color: rgba(255, 255, 255, 0.2) !default;
$input-background-color: #171717 !default;
$input-border-hover-color: rgba(255, 255, 255, 0.18) !default;
$input-border-focus-color: #80a5ef !default;
$input-border-error-color: #b94444 !default;
$input-text-color: rgba(255, 255, 255, 0.38) !default;
$input-text-active-color: rgba(255, 255, 255, 0.83) !default;
$input-text-error-color: #b94444 !default;
$selection-color: transparent !default;
$color-white: white !default;
$color-black: black !default;

// -----------------------------------------------------------------------------
// Breakpoint
// -----------------------------------------------------------------------------
$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 360px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1280px;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$base-font-size: 16px !default;
$base-letter-spacing: 0;

$base-font-system:
  Pretendard,
  Noto Sans KR,
  Noto Sans,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Apple SD Gothic Neo",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Malgun Gothic",
  "맑은 고딕",
  Dotum,
  "돋움",
  sans-serif !default;

$base-font-stack: (
  base: (
    regular: (
      family: $base-font-system,
      weight: 400,
    ),
    medium: (
      family: $base-font-system,
      weight: 500,
    ),
    bold: (
      family: $base-font-system,
      weight: 700,
    ),
  ),
);

$rem-baseline: $base-font-size;
$rem-fallback: false !default;
$rem-px-only: false !default;
