.#{$app-name} {
  .floating-button {
    position: fixed;
    z-index: 10;
    top: 190px;
    right: -5px;
    width: vw(303px, 1920);
    min-width: 150px;
    max-width: 303px;

    @include hover-bounce;

    @include screen("mobile") {
      top: unset;
      right: unset;
      bottom: 0;
      width: 100%;
      min-width: auto;
      max-width: none;
      padding: 0 vw(17px);
      a {
        @include flex-only-center;
        width: fit-content;
        margin: 0 auto;
      }
      a > img.only-mo {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
