.#{$app-name} {
  $w: 1920;
  $h: 1712;
  $w-m: 1236;
  $h-m: 2848;

  .section10 {
    background-color: #de6233;

    .app-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: unset;
      left: unset;
      width: 100%;
      height: auto;
      max-width: 1210px;
      margin: 0 auto;
      padding: min(vw(122px, $w), 122px) min(vw(35px, $w), 35px) min(vw(150px, $w), 150px);
      transform: translateX(0);

      > h2 {
        @include hide-text;
        @include res-bg;
        width: min(vw(739px, $w), 739px);
        height: min(vw(122px, $w), 122px);
        background-image: url(images/sec10-title.png);

        @include screen("mobile") {
          width: min(vw(698px, $w-m), 698px);
          height: min(vw(194px, $w-m), 194px);
          margin-left: min(vw(-50px, $w-m), -50px);
          background-image: url(images/sec10-title-m.png);
        }
      }

      @include screen("mobile") {
        padding: vw(170px, $w-m) vw(47px, $w-m);
      }
    }

    .faq-tabs {
      @include flex-row-center;
      width: 100%;
      margin-top: min(vw(52px, $w), 52px);
      gap: min(vw(21px, $w), 21px);

      .faq-tab {
        flex: 1 1 0%;
        text-align: center;
        height: 80px;
        font-size: 24px;
        line-height: 80%;
        border-radius: 8px;
        font-weight: bold;
        color: #de6233;
        background-color: #fef7ef;
        transition: all ease 300ms;

        > span {
          vertical-align: -5px;
        }

        &.active {
          color: #fff;
          background-color: #fc8f47;
          pointer-events: none;
          cursor: default;
        }
        &:not(.active):hover {
          filter: brightness(1.04) contrast(1.07);
        }
      }

      @include screen("mobile") {
        margin-top: min(vw(114px, $w-m), 114px);
        gap: min(vw(21px, $w-m), 21px);

        .faq-tab {
          height: min(vw(120px, $w-m), 40px);
          min-height: 40px;
          font-size: fluid-font(24px, $min: 16px);
          border-radius: min(vw(12px, $w-m), 12px);
        }
      }
    }

    .faq-panels {
      width: 100%;
      margin-top: min(vw(50px, $w), 50px);

      .faq-panel {
        display: none;
        &.active {
          display: block;
        }
      }

      .faq-list {
        @include flex-column;
        width: 100%;
        gap: 20px;

        > li {
          @include flex-column;
          width: 100%;
          background-color: #fff;
          border-radius: 15px;
          box-shadow: -3.064px 2.571px 70px 0px rgba(193, 52, 74, 0.06);

          &.active {
            .question::after {
              transform: rotate(180deg);
            }
          }

          .question {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 28px 56px 27px 43px;

            h4 {
              display: inline-flex;
              align-items: center;
              color: #2c201c;
              font-weight: bold;
              line-height: 1.4;
              font-size: fluid-font(24px, $min: 18px);
              margin-top: 3px;
              gap: 2.6rem;
              > span {
                align-self: flex-start;
                color: #de6233;
                font-size: fluid-font(28px, $min: 22px);
              }
            }

            &::after {
              @include pseudo(25px, 15px, relative);
              flex-shrink: 0;
              transition: transform 300ms;
              background: url(images/sec10-btn-arrow.png) no-repeat center;
              background-size: contain;
            }
          }

          hr {
            display: block;
            width: calc(100% - 61px);
            margin: 0 27px 0 34px;
            background-color: #e8dfd0;
          }

          .answer {
            display: none;
          }

          .answer-contents {
            display: flex;
            flex-flow: row nowrap;
            padding: 3.5rem 4.5rem 3.1rem;
            gap: 30px;

            > strong {
              flex-shrink: 0;
              font-weight: bold;
              color: #de6233;
              font-size: fluid-font(28px, $min: 22px);
            }

            p {
              color: #2c201c;
              line-height: 1.7;
              font-weight: 300;
              font-size: fluid-font(20px, $min: 16px);
              word-wrap: break-word !important;
              strong {
                font-weight: bold !important;
              }
            }

            a[id^="faq-btn"]:has(img) {
              display: block;
              width: fit-content;
              margin-top: 24px;
              transition: all ease 400ms;

              &:hover {
                filter: brightness(1.04) contrast(1.07);
              }
            }

            .faq-bear-size-guide {
              margin-top: 24px;
              margin-bottom: 15px;
            }
          }
        }
      }

      @include screen("mobile") {
        margin-top: min(vw(75px, $w-m), 75px);

        .faq-list {
          gap: 10px;

          > li {
            border-radius: vw(30px, $w-m);
            box-shadow: -18.385px 15.427px 120px 0px rgba(83, 62, 18, 0.06);

            .question {
              align-items: flex-start;
              padding: 21px 25px 18px 25px;

              h4 {
                gap: 10px;
                font-size: fluid-font(16px, $min: 15px);
                > span {
                  font-size: fluid-font(18px, $min: 17px);
                  transform: translateY(-0.07rem);
                }
              }

              &::after {
                @include pseudo(15px, 10px, relative);
                margin-top: 0.75rem;
                background: url(images/sec10-btn-arrow-m.png) no-repeat center;
                background-size: contain;
              }
            }

            hr {
              width: calc(100% - 24px);
              margin: 0 12px;
            }

            .answer-contents {
              padding: 24px 25px 25px;
              gap: 13px;

              > strong {
                font-size: fluid-font(18px, $min: 17px);
              }

              p {
                flex: 1 0 0;
                font-size: fluid-font(16px, $min: 14px);
              }

              #faq-btn-temp-donate {
                width: 180px;
                margin-top: 20px;
              }

              .faq-bear-size-guide {
                max-width: min(90%, 220px);
              }
            }
          }
        }
      }
    }
  }
}
