.#{$app-name} {
  .section6 {
    $w: 1920;
    $h: 940;
    $w-m: 1236;
    $h-m: 1650;

    .girl {
      position: absolute;
      display: block;
      @include to-percent($h, $w: 1755, $top: 53, $left: 84);
    }

    .app-section-title {
      position: absolute;
      @include hide-text;
      @include res-bg;
      @include to-percent($h, $w: 701, $h: 179, $top: 281, $left: 342);
      background-image: url(images/sec06-title.png);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 956, $h: 233, $top: 159, $left: 140);
        background-image: url(images/sec06-title-m.png);
      }
    }

    .btn-support {
      position: absolute;
      @include to-percent($h, $w: 469, $h: 138, $top: 516, $left: 359);

      > a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        @include res-bg;
        background-image: url(images/btn-support-bear.png);
        transition: filter 0.25s ease;
        > span {
          @include hide-text;
        }
        .arrow {
          width: percent(51, 469);
          height: percent(16, 138);
          margin-top: percent(55, 469);
          margin-left: auto;
          margin-right: percent(65, 469);
          transition: transform 300ms ease;
          @include res-bg;
          background-image: url(images/btn-save-girl-arrow.png);
        }

        &:hover {
          filter: brightness(1.04) contrast(1.07);
          .arrow {
            transform: translateX(10%);
          }
        }
      }

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 928, $h: 270, $top: 1261, $left: 160);

        > a {
          background-image: url(images/btn-support-bear-m.png);
          .arrow {
            width: percent(95, 928);
            height: percent(24, 270);
            margin-top: percent(108, 928);
            margin-right: percent(160, 928);
            background-image: url(images/btn-support-bear-arrow-m.png);
          }
        }
      }
    }
  }
}
