.#{$app-name} {
  .section2 {
    $w: 1920;
    $h: 1326;
    $w-m: 1236;
    $h-m: 3878;

    .app-inner > h2 {
      position: absolute;
      @include hide-text;
      @include res-bg;
      @include to-percent($h, $w: 440, $h: 51, $top: 189, $left: 1017);
      background-image: url(images/sec02-title.png);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 790, $h: 92, $top: 180, $left: 222);
        background-image: url(images/sec02-title-m.png);
      }
    }

    .messages {
      position: absolute;
      padding-left: min(vw(106px, $w), 106px);

      &::before {
        @include pseudo(min(vw(101px, $w), 101px), min(vw(101px, $w), 101px));
        @include res-bg;
        top: min(vw(27px, $w), 27px);
        left: min(vw(0, $w), 0px);
        background-image: url(images/sec02-bear-profile.png);
      }

      > li {
        margin-bottom: vw(-16.5px, $w);
        > p {
          @include sr-only;
        }
        @include res-bg;
        @for $i from 1 through 4 {
          &.msg#{$i} {
            background-image: url(images/sec02-message#{$i}.png);
          }
        }
      }

      &1 {
        @include to-percent($h, $w: 600, $top: 278, $left: 1019);
        > li {
          &.msg1 {
            width: min(vw(454px, $w), 454px);
            height: min(vw(167px, $w), 167px);
          }
        }
      }

      &2 {
        @include to-percent($h, $w: 600, $top: 650, $left: 391);
        > li {
          &.msg2 {
            width: min(vw(433px, $w), 433px);
            height: min(vw(161px, $w), 161px);
          }
          &.msg3 {
            width: min(vw(433px, $w), 433px);
            height: min(vw(161px, $w), 161px);
          }
          &.msg4 {
            width: min(vw(433px, $w), 433px);
            height: min(vw(190px, $w), 190px);
          }
        }
      }

      @include screen("mobile") {
        padding-left: min(vw(249px, $w-m), 249px);

        &::before {
          @include pseudo(min(vw(257px, $w-m), 257px), min(vw(256px, $w-m), 256px));
          top: min(vw(27px, $w-m), 27px);
          background-image: url(images/sec02-bear-profile-m.png);
        }

        > li {
          margin-bottom: 0;
          @for $i from 1 through 4 {
            &.msg#{$i} {
              background-image: url(images/sec02-message#{$i}-m.png);
            }
          }
        }

        &1 {
          @include to-percent-m($h-m, $parent-w: $w-m, $w: 1090, $top: 330, $left: 69);
          > li {
            &.msg1 {
              width: min(vw(851px, $w-m), 851px);
              height: min(vw(306px, $w-m), 306px);
            }
          }
        }

        &2 {
          @include to-percent-m($h-m, $parent-w: $w-m, $w: 1090, $top: 1509, $left: 69);
          > li {
            &.msg2 {
              width: min(vw(851px, $w-m), 851px);
              height: min(vw(306px, $w-m), 306px);
            }
            &.msg3 {
              width: min(vw(851px, $w-m), 851px);
              height: min(vw(306px, $w-m), 306px);
            }
            &.msg4 {
              width: min(vw(851px, $w-m), 851px);
              height: min(vw(386px, $w-m), 386px);
            }
          }
        }
      }
    }

    .bear {
      position: absolute;
      @include to-percent($h, $w: 553, $top: 55, $left: 370);
      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 1058, $top: 726, $left: 90);
      }
    }

    .shorts {
      position: absolute;
      @include to-percent($h, $w: 553, $top: 625, $left: 1015);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 1055, $top: 2644, $left: 90);
      }

      &-frame {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 66.25%;
        border-radius: vw(50px, $w);
        iframe {
          position: absolute;
          top: -3px;
          left: 0;
          width: 100%;
          height: 101.5%;
          border: none;
        }

        @include screen("mobile") {
          border-radius: vw(50px, $w-m);
          iframe {
            top: -2px;
            height: 102%;
          }
        }
      }
    }
  }
}
