.#{$app-name} {
  .section3 {
    $w: 1920;
    $h: 2587;
    $w-m: 1236;
    $h-m: 5763;

    background-color: #fef7cc;

    .app-section-title {
      margin-top: clp(52px, 150px);
      font-weight: 700;
      font-size: clamp(2.62rem, 3vw, 6rem);
      line-height: 1;
      text-align: center;
      color: #2c201c;
    }

    .bear {
      position: absolute;
      @include to-percent($h, $w: 602, $top: 310, $left: 349);
      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 933, $top: 397, $left: 162);
      }
    }

    .bear-message-box {
      position: absolute;
      @include flex-column;
      gap: clp(30px, 45px);
      top: 74.3718592965%;
      left: 18.75%;
      z-index: 1;

      @include screen("tablet") {
        top: 73%;
        left: 15%;
      }

      .bear-message {
        @include flex-only-center;
        position: relative;
        padding: clp(28px, 55px) clp(25px, 44px) clp(23px, 48px);
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 1.721px 2.457px 14px 0px rgba(150, 133, 27, 0.09);
        max-width: 507px;

        &::after {
          @include pseudo(47px, 39px);
          @include res-bg;
          z-index: -1;
          background-image: url(images/sec03-bubble.png);
          left: clp(8px, 80px);
          bottom: -2.6rem;
        }

        @include screen("tablet") {
          &::after {
            bottom: -2rem;
          }
        }

        p {
          color: #2c201c;
          font-size: clp(1.2rem, 2.8rem);
          font-weight: 300;
          line-height: 1.2;
        }
        strong,
        em {
          font-weight: bold;
        }
        em {
          color: #e65219;
        }
      }

      .bear-image {
        width: clp(80px, 190px);
        padding-left: 10px;
      }

      @include screen("mobile") {
        align-items: center;
        gap: clpm(28px, 30px);
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 1050, $top: 4560, $left: 97);

        .bear-image {
          width: 31vw;
          padding-left: 0;
        }

        .bear-message {
          border-radius: 18px;
          min-width: 280px;
          padding: 30px 30px 27px;
          text-align: center;
          max-width: none;

          p {
            line-height: 1.294;
            font-size: clamp(1.485rem, 3vw, 2rem);
          }

          &::after {
            @include pseudo(clp(48px, 55px), clp(38px, 43px));
            left: 50%;
            background-image: url(images/sec03-bubble.png);
            bottom: -12px;
            transform: translateX(-50%);
          }
        }
      }
    }

    .bear-spotlight {
      position: absolute;
      @include to-percent($h, $w: 555, $top: 1896, $left: 976);
    }

    .profiles {
      > li {
        position: absolute;
        display: block;
        > p {
          @include sr-only;
        }
        @include res-bg;
        @for $i from 1 through 5 {
          &.profile#{$i} {
            background-image: url(images/sec03-bear#{$i}.png);
          }
        }

        &.profile1 {
          @include to-percent($h, $w: 493, $h: 403, $top: 326, $left: 1052);
        }
        &.profile2 {
          @include to-percent($h, $w: 671, $h: 328, $top: 840, $left: 300);
        }
        &.profile3 {
          @include to-percent($h, $w: 372, $h: 404, $top: 865, $left: 1096);
        }
        &.profile4 {
          @include to-percent($h, $w: 493, $h: 334, $top: 1372, $left: 327);
        }
        &.profile5 {
          @include to-percent($h, $w: 642, $h: 335, $top: 1393, $left: 916);
        }

        @include screen("mobile") {
          @for $i from 1 through 5 {
            &.profile#{$i} {
              background-image: url(images/sec03-bear#{$i}-m.png);
            }
          }

          &.profile1 {
            @include to-percent-m($h-m, $parent-w: $w-m, $w: 982, $h: 607, $top: 1235, $left: 105);
          }
          &.profile2 {
            @include to-percent-m($h-m, $parent-w: $w-m, $w: 1004, $h: 560, $top: 1956, $left: 94);
          }
          &.profile3 {
            @include to-percent-m($h-m, $parent-w: $w-m, $w: 1056, $h: 449, $top: 2575, $left: 85);
          }
          &.profile4 {
            @include to-percent-m($h-m, $parent-w: $w-m, $w: 1031, $h: 575, $top: 3113, $left: 116);
          }
          &.profile5 {
            @include to-percent-m($h-m, $parent-w: $w-m, $w: 1047, $h: 590, $top: 3781, $left: 62);
          }
        }
      }
    }
  }
}
