.#{$app-name} {
  .section8 {
    $w: 1920;
    $h: 760;
    $w-m: 1236;
    $h-m: 2040;

    background-color: #fffcf9;

    .inner {
      position: relative;
    }

    .app-inner-contents {
      position: relative;
      max-width: #{$w}px;
      height: 100%;
      margin: 0 auto;
      overflow: visible;

      .app-section-title-wrapper {
        position: relative;
        @include flex-column;
        width: fit-content;
        margin: clp(80px, 146px) 0 0 clp(30px, 190px);
        padding-bottom: clp(115px, 130px);

        @include screen("mobile") {
          margin: 0 auto;
          padding-bottom: 0;
        }

        .app-section-title {
          @include flex-column;
          font-weight: 700;
          font-size: clp(2.4rem, 4.35rem);
          line-height: 1.25;
          color: #2c201c;

          &--mobile {
            display: none;
          }
          span {
            display: block;
          }
          strong {
            color: #e65219;
            font-weight: 700;
          }

          &::after {
            @include pseudo(clp(100px, 136px), clp(120px, 163px), relative);
            margin-top: clp(10px, 31px);
            background: url(images/sec08-title.png) no-repeat bottom left;
            background-size: contain;
          }

          @include screen("mobile") {
            flex-direction: row;
            margin: clpm(35px, 40px) auto clpm(33px, 37px);

            &--pc {
              display: none;
            }
            &--mobile {
              display: flex;
              align-items: center;
            }
            &::after {
              display: none;
            }
            &::before {
              @include pseudo(clpm(64px, 73px), clpm(79px, 89px), relative);
              background: url(images/sec08-title-m.png) no-repeat bottom left;
              background-size: contain;
              margin-top: 0;
              margin-right: 10px;
            }
            .app-section-title--mobile-box {
              @include flex-column;
            }
          }
        }
      }

      .swiper-buttons {
        @include flex-row;
        position: relative;
        margin-top: clp(24px, 32px);
        gap: clp(10px, 15px);
        @include screen("mobile") {
          display: none;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: static;
        @include res-bg;
        @include hide-text;
        width: clp(40px, 57px);
        height: clp(40px, 57px);
        transition: transform 300ms ease;

        &:hover {
          filter: brightness(0.98);
        }
      }
      .swiper-button-prev {
        order: 1;
        background-image: url(images/btn-prev-2.png);

        &:hover {
          transform: translateX(-3px);
        }
      }
      .swiper-button-next {
        order: 2;
        background-image: url(images/btn-next-2.png);

        &:hover {
          transform: translateX(3px);
        }
      }
    }

    .keyrings {
      position: absolute;
      top: -4px;
      left: percent(596, $w);
      width: calc(100vw - percent(596, $w));

      @include screen("mobile") {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

    .slider-wrapper {
      width: 100%;

      .swiper-wrapper {
        display: flex;
        align-items: stretch;
      }

      .swiper-slide {
        width: clp(300px, 388px);
        height: auto;

        .keyring-item {
          @include flex-column;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 2px solid #2c201c;
          border-radius: 20px;
          margin-bottom: 4px;

          .keyring-image {
            border-bottom: 2px solid #2c201c;
          }

          > p {
            flex: 1;
            padding: clp(25px, 36px) clp(36px, 45px);
            font-size: clp(1.5rem, 2rem);
            font-weight: 300;
            line-height: 1.529;
            color: #441f14;
          }
        }
      }

      .swiper-pagination {
        display: none;
      }

      .swiper-pagination-bullet {
        border-radius: 30px;
        background: #bfbab6;
        opacity: 1;
        width: min(vw(39px, $w), 39px);
        height: min(vw(9px, $w), 9px);
        margin: 0 min(vw(6px, $w), 6px);
        &.swiper-pagination-bullet.active {
          background: #2c201c !important;
        }
      }

      @include screen("mobile") {
        width: 100%;

        .swiper-slide {
          width: clpm(260px, 274px);

          .keyring-item {
            border-radius: 17px;
            margin-bottom: 4px;

            > p {
              padding: clpm(25px, 27px) clpm(28px, 30px) clpm(24px, 26px);
              font-size: clpm(1.35rem, 1.6rem);
              line-height: clpm(2rem, 2.1rem);
            }
          }
        }

        .swiper-pagination {
          display: block;
          position: relative;
          bottom: 0;
          margin: clpm(30px, 34px) auto clpm(10px, 15px);
        }

        .swiper-pagination-bullet {
          border-radius: 50px;
          width: 35px;
          height: 8px;
          margin: 0 5px;
        }
      }
    }
  }
}
