.#{$app-name} {
  .section5 {
    $w: 1920;
    $h: 650;
    $w-m: 1236;
    $h-m: 2122;

    background-color: #fffcf9;

    .app-inner {
      max-width: none;
    }

    .bear-story {
      position: relative;
      margin: clp(80px, 116px) auto clp(34px, 58px);
      width: clamp(580px, 62vw, 1070px);

      .swiper-button-next,
      .swiper-button-prev {
        @include res-bg;
        @include hide-text;
        top: 34.4%;
        width: clp(35px, 51px);
        height: clp(35px, 51px);
        overflow: visible;
        transition: transform 300ms ease;
      }
      .swiper-button-prev {
        left: -7.3%;
        background-image: url(images/btn-prev.png);

        &:hover {
          transform: translateX(-3px);
        }
      }
      .swiper-button-next {
        right: -7.3%;
        background-image: url(images/btn-next.png);

        &:hover {
          transform: translateX(3px);
        }
      }

      @include screen("tablet") {
        .swiper-button-prev {
          left: -8.5%;
        }
        .swiper-button-next {
          right: -8.5%;
        }
      }

      @include screen("mobile") {
        margin: 0 auto;
        width: auto;

        .swiper-button-next,
        .swiper-button-prev {
          top: vw(810px, $w-m);
          width: clmp(37px, 42px);
          height: clmp(37px, 42px);
        }
        .swiper-button-prev {
          left: 2.2%;
          background-image: url(images/btn-prev-m.png);
        }
        .swiper-button-next {
          right: 2.2%;
          background-image: url(images/btn-next-m.png);
        }
      }
    }

    .slider-wrapper {
      border-radius: vw(8px);
      width: 100%;

      .swiper-slide {
        width: 100%;
        // height: min(vw(420px, $w), 420px);

        .story-wrap {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          // align-items: center;
          justify-content: space-between;
          // gap: min(vw(54px, $w), 54px);
          gap: clp(20px, 55px);
          width: 100%;

          .image {
            width: percent(602px, 1070px);
            flex-shrink: 0;
          }

          .message {
            flex: 1;
            margin-top: clp(30px, 67px);
            > p {
              font-size: clp(1.4rem, 2.17rem);
              // font-size: 2.17rem;
              color: #2c201c;
              line-height: 1.429;
              font-weight: 300;
              margin-bottom: clp(2.4rem, 3.2rem);

              &:last-child {
                margin-bottom: 0;
              }

              em {
                color: #e65219 !important;
              }
              em,
              strong {
                font-weight: bold;
              }
            }
          }

          @include screen("mobile") {
            flex-direction: column;
            gap: 0;

            .image {
              width: 100%;
            }
            .message {
              margin: 20px 32px 0;
              > p {
                font-size: clpm(1.3rem, 1.485rem);
                margin-bottom: 2rem;
                line-height: 1.392;
              }
            }
          }

          @include screen("tablet") {
            align-items: center;
            .image {
              width: 50%;
              min-width: 290px;
            }
            .message {
              margin-top: 0;
              > p {
                font-size: 1.3rem;
                margin-bottom: 2.1rem;
              }
            }
          }
        }
      }

      .swiper-pagination {
        position: relative;
        bottom: 0;
        margin-top: clp(22px, 34px);
      }

      .swiper-pagination-bullet {
        background: #bfbab6;
        opacity: 1;

        border-radius: 50px;
        width: 34px;
        height: 7px;
        margin: 0 5px;
        &.swiper-pagination-bullet-active {
          background: #2c201c !important;
        }
      }

      @include screen("mobile") {
        margin-top: min(vw(176px, $w-m), 176px);
        width: 100%;

        .swiper-slide {
          width: 100%;
          padding: 0 min(vw(89.5px, $w-m), 89.5px);
          height: auto;
        }

        .swiper-pagination {
          bottom: 0;
          margin: 50px 0 48px;
        }

        .swiper-pagination-bullet {
          width: 39px;
          height: 9px;
          margin: 0 6px;
        }
      }
    }
  }
}
