.#{$app-name} {
  .section4 {
    $w: 1920;
    $h: 1143;
    $w-m: 1236;
    $h-m: 1744;
    padding-top: clamp(80px, 4vw, 120px);
    padding-bottom: clamp(80px, 4vw, 120px);
    background-color: #fff6f3;

    .app-inner {
      position: static;
      transform: none;
      margin: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

    .app-section-title {
      font-weight: 700;
      font-size: clamp(2.2rem, 3vw, 5rem);
      line-height: clamp(28px, 3.5vw, 64px);
      text-align: center;
      color: #2c201c;

      strong {
        color: #e65219;
        font-weight: 700;
      }
    }

    .bear-message {
      display: flex;
      justify-content: center;
      align-items: end;
      text-align: center;
      font-weight: 300;
      font-size: clamp(1.5rem, 1.5vw, 2.2rem);
      line-height: clamp(19px, 2vw, 34px);
      color: #2c201c;
      gap: clamp(6px, 2vw, 18px);
      padding-bottom: clamp(30px, 2vw, 65px);

      img {
        flex: none;
        width: clamp(42px, 6vw, 91px);
      }
    }

    .girl {
      width: clamp(400px, 60vw, 1000px);
      margin: auto;
      position: relative;
      margin-bottom: clp(40px, 60px);

      .bear {
        @include flex-column-center;
        position: absolute;
        z-index: 2;
        transition:
          left 1.7s ease-in-out,
          opacity 500ms ease;
        width: 20%;
        left: 0%;
        margin-left: -10%;
        top: 0;
        bottom: 0;

        .btn-bear {
          @include flex-column-center;
          margin-top: clp(1px, 3px);

          .bear-image {
            animation: bearMotion 1s ease infinite;
            transform-origin: center center;
          }

          .btn-text {
            transition: all ease 300ms;
            margin-top: 5px;
            padding: clp(3px, 4.5px) clp(10px, 17px) clp(2px, 4px) clp(9px, 16px);
            border-radius: 50px;
            border: 3px solid #de6233;
            color: #de6233;
            background-color: #fff;
            text-align: center;
            font-size: clp(1.6rem, 2.4rem);
            font-weight: bold;
            line-height: 1;
            font-family:
              Pretendard,
              Aggravo,
              Noto Sans KR,
              Noto Sans,
              -apple-system,
              BlinkMacSystemFont,
              Roboto,
              "Apple SD Gothic Neo",
              "Helvetica Neue",
              Helvetica,
              Arial,
              "Malgun Gothic",
              "맑은 고딕",
              Dotum,
              "돋움",
              sans-serif;
          }

          &:hover {
            .btn-text {
              filter: brightness(1.1) contrast(1.07);
              transform: translateY(3px);
            }
          }
        }
      }

      .girl-photo {
        transition: opacity 1.5s ease-in-out;

        &.before {
          opacity: 1;
          z-index: 1;
        }

        &.after {
          opacity: 0;
          z-index: 0;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      &.active {
        .bear {
          left: 100%;

          &.leave {
            pointer-events: none;
            opacity: 0;

            .bear-image {
              animation-play-state: paused;
            }
          }

          .btn-text {
            opacity: 0;
            pointer-events: none;
          }
        }

        .girl-photo {
          &.before {
            opacity: 0;
          }

          &.after {
            opacity: 1 !important;
          }
        }
      }
    }

    .btn-support {
      width: clp(272px, 416px);
      height: clp(77px, 122px);
      min-width: 320px;
      min-height: 95px;
      position: relative;
      margin: auto;

      > a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        @include res-bg;
        background-image: url(images/btn-save-girl.png);

        > span {
          @include hide-text;
        }

        .arrow {
          width: percent(46, 416);
          height: percent(13, 122);
          margin-top: percent(49, 416);
          margin-left: auto;
          margin-right: percent(66, 416);
          @include res-bg;
          background-image: url(images/btn-save-girl-arrow.png);
        }

        @include hover-bounce;
      }

      @include screen("mobile") {
        > a {
          background-image: url(images/btn-save-girl-m.png);

          .arrow {
            width: percent(95, 928);
            height: percent(24, 270);
            margin-top: percent(107, 928);
            margin-right: percent(150, 928);
            background-image: url(images/btn-support-bear-arrow-m.png);
          }
        }
      }
    }

    @include screen("mobile") {
      padding-top: 15%;
      padding-bottom: 15%;

      .app-section-title {
        margin-bottom: 10px;
      }

      .girl {
        width: 100%;

        .bear {
          margin-left: -5.2%;

          .btn-bear {
            .btn-text {
              border-width: 2px;
            }

            &:hover {
              .btn-text {
                transform: translateY(2px);
              }
            }
          }
        }

        &.active {
          .bear {
            left: 95%;
          }
        }
      }
    }
  }
}

@keyframes bearMotion {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
