.#{$app-name} {
  .section9 {
    $w: 1920;
    $h: 957;
    $w-m: 1236;
    $h-m: 2630;

    .app-inner {
      max-width: none;
    }

    .app-inner > h2 {
      position: absolute;
      @include hide-text;
      @include res-bg;
      @include to-percent($h, $w: 803, $h: 93, $top: 135, $left: 558);
      background-image: url(images/sec09-title.png);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 906, $h: 299, $top: 118, $left: 165);
        background-image: url(images/sec09-title-m.png);
      }
    }

    .message {
      position: absolute;
      @include hide-text;
      @include res-bg;
      @include to-percent($h, $w: 722, $h: 135, $top: 233, $left: 617);
      background-image: url(images/sec09-message.png);

      @include screen("mobile") {
        @include to-percent-m($h-m, $parent-w: $w-m, $w: 1000, $h: 231, $top: 538, $left: 104);
        background-image: url(images/sec09-message-m.png);
      }
    }

    .stories {
      position: relative;
      margin-top: min(vw(408px, $w), 408px);
      width: 100%;

      .swiper-buttons {
        position: absolute;
        top: 33.5%;
        left: 50%;
        transform: translateX(-50%);
        width: min(vw(712px, $w), 712px);
        z-index: 10;
      }

      .swiper-button-next,
      .swiper-button-prev {
        @include res-bg;
        @include hide-text;
        top: 0;
        width: min(vw(54px, $w), 54px);
        height: min(vw(54px, $w), 54px);
        transition: transform 300ms ease;

        &:hover {
          filter: brightness(1.04) contrast(1.07);
        }
      }
      .swiper-button-prev {
        left: 0;
        background-image: url(images/btn-prev-2.png);

        &:hover {
          transform: translateX(-3px);
        }
      }
      .swiper-button-next {
        right: 0;
        background-image: url(images/btn-next-2.png);

        &:hover {
          transform: translateX(3px);
        }
      }

      @include screen("mobile") {
        opacity: 1;
        margin-top: min(vw(900px, $w-m), 900px);

        .swiper-buttons {
          display: none;
        }
      }
    }

    .slider-wrapper {
      width: 100%;

      .swiper-slide {
        width: min(vw(624px, $w), 624px);

        > h3,
        > p {
          @include sr-only;
        }
      }

      .swiper-pagination {
        position: relative;
        bottom: 0;
        margin-top: min(vw(47px, $w), 47px);
      }

      .swiper-pagination-bullet {
        border-radius: 30px;
        background: #bfbab6;
        opacity: 1;
        width: min(vw(39px, $w), 39px);
        height: min(vw(9px, $w), 9px);
        margin: 0 min(vw(6px, $w), 6px);
        &.swiper-pagination-bullet-active {
          background: #2c201c !important;
        }
      }

      @include screen("mobile") {
        width: 100%;

        .swiper-slide {
          width: min(vw(940px, $w-m), 940px);
        }

        .swiper-pagination {
          bottom: 0;
          margin-top: min(vw(100px, $w-m), 100px);
        }

        .swiper-pagination-bullet {
          border-radius: 50px;
          width: vw(122px, $w-m);
          height: vw(27px, $w-m);
          margin: 0 vw(15px, $w-m);
        }
      }
    }
  }
}
