.#{$app-name} {
  .section4 {
    $w: 1920;
    $h: 1143;
    $w-m: 1236;
    $h-m: 1744;
    padding-top: clamp(80px, 4vw, 120px);
    padding-bottom: clamp(80px, 4vw, 120px);
    background-color: #fff6f3;

    .app-inner {
      position: static;
      transform: none;
      margin: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

    .app-section-title {
      font-weight: 700;
      font-size: clamp(2.2rem, 3vw, 5rem);
      line-height: clamp(28px, 3.5vw, 64px);
      // padding-bottom: clamp(10px, 1.5vw, 20px);
      text-align: center;
      color: #2c201c;

      strong {
        color: #e65219;
        font-weight: 700;
      }
    }

    .bear-message {
      display: flex;
      justify-content: center;
      align-items: end;
      text-align: center;
      font-weight: 300;
      font-size: clamp(1.5rem, 1.5vw, 2.2rem);
      line-height: clamp(19px, 2vw, 34px);
      color: #2c201c;
      gap: clamp(6px, 2vw, 18px);
      padding-bottom: clamp(30px, 2vw, 65px);

      img {
        flex: none;
        width: clamp(42px, 6vw, 91px);
      }
    }

    .girl {
      width: clamp(400px, 60vw, 1000px);
      margin: auto;
      position: relative;
      margin-bottom: clamp(34px, 2vw, 60px);

      .bear {
        position: absolute;
        border: none;
        z-index: 2;
        transition:
          left 1.7s ease-in-out,
          opacity 500ms ease;
        width: 20%;
        left: 0%;
        margin-left: -10%;
        top: 0;
        bottom: 0;

        > img {
          animation: bearMotion 1s ease infinite;
          transform-origin: center center;
        }
      }

      .girl-photo {
        transition: opacity 1.5s ease-in-out;

        &.before {
          opacity: 1;
          z-index: 1;
        }

        &.after {
          opacity: 0;
          z-index: 0;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      &.active {
        .bear {
          left: 100%;

          &.leave {
            pointer-events: none;
            opacity: 0;

            > img {
              animation-play-state: paused;
            }
          }
        }

        .girl-photo {
          &.before {
            opacity: 0;
          }

          &.after {
            opacity: 1 !important;
          }
        }
      }
    }

    .btn-support {
      width: clamp(272px, 20vw, 416px);
      height: clamp(77px, 10vw, 122px);
      position: relative;
      margin: auto;

      > a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        @include res-bg;
        background-image: url(images/btn-save-girl.png);
        transition: filter 0.25s ease;

        > span {
          @include hide-text;
        }

        .arrow {
          width: percent(46, 416);
          height: percent(13, 122);
          margin-top: percent(49, 416);
          margin-left: auto;
          margin-right: percent(66, 416);
          transition: transform 300ms ease;
          @include res-bg;
          background-image: url(images/btn-save-girl-arrow.png);
        }

        &:hover {
          filter: brightness(1.04) contrast(1.07);

          .arrow {
            transform: translateX(10%);
          }
        }
      }

      @include screen("mobile") {
        > a {
          background-image: url(images/btn-save-girl-m.png);

          .arrow {
            width: percent(95, 928);
            height: percent(24, 270);
            margin-top: percent(107, 928);
            margin-right: percent(150, 928);
            background-image: url(images/btn-support-bear-arrow-m.png);
          }
        }
      }
    }

    @include screen("mobile") {
      padding-top: 15%;
      padding-bottom: 15%;

      .app-section-title {
        margin-bottom: 10px;
      }

      .girl {
        width: 100%;

        .bear {
          margin-left: -5%;
        }
      }
    }
  }
}

@keyframes bearMotion {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
