.#{$app-name} {
  .section2 {
    $sec-height: 1039;
    $sec-height-m: 613;

    overflow: hidden;

    .title-wrapper {
      position: absolute;
      @include to-percent($sec-height, $w: 340, $top: 112, $left: 431);
      h2 {
        position: relative;
        font-size: fluid-font(48px, $min: 20px);
        color: #fb48a3;
        font-weight: bold;
        line-height: 1.2;
        &::before {
          @include pseudo(12%, 19%);
          top: 3.5%;
          left: -13%;
          background: url(images/sec02-quot1.png) no-repeat top center;
          background-size: contain;
        }
        &::after {
          @include pseudo(12%, 19%);
          bottom: 24%;
          right: 16%;
          background: url(images/sec02-quot2.png) no-repeat top center;
          background-size: contain;
        }
      }
      p {
        margin-top: 8%;
        font-size: fluid-font(23px, $max: 23px, $min: 11px);
        color: #000;
        line-height: 1.522;
        strong {
          font-weight: bold;
        }
      }
    }

    .section2-trans-shorts {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.1s ease-out;

      @include screen("mobile") {
        position: relative;
        top: unset;
        z-index: 1;
      }
    }

    .section2-shorts {
      position: absolute;
      top: 0;
      left: 55%;
      width: 45%;
      height: 100%;
      padding-top: 6%;
      padding-left: 3.5%;
      background-color: #000;

      .flip-title-wrapper {
        h2 {
          display: inline-flex;
          flex-direction: column;
          font-size: fluid-font(43px, $min: 20px);
          color: #ffe8e8;
          font-weight: bold;
          span {
            display: inline-flex;
            align-items: center;
            min-width: max-content;
          }
          .flip-text-wrapper {
            position: relative;
            display: inline-block;
            width: vw(226px, 1920);
            height: vw(69px, 1920);
            max-width: 226px;
            max-height: 69px;
            perspective: 800px;
            transform-style: preserve-3d;
            will-change: transform;
            animation: flipX 3.8s ease-in-out infinite;
            .flip-text {
              position: absolute;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              background-color: #fb48a3;
              backface-visibility: hidden;
              transform-origin: center;
              em {
                font-size: fluid-font(45px, $min: 22px);
                color: #ffffff;
              }
            }
            .flip-text:first-child {
              transform: rotateX(0deg) translateZ(1px);
            }
            .flip-text:last-child {
              transform: rotateX(180deg) translateZ(1px);
            }
          }

          > span:first-child {
            gap: vw(11px, 1920);
          }
          > span:last-child {
            margin-top: 1.4%;
          }
        }
      }

      .shorts {
        overflow: hidden;
        position: relative;
        width: 45%;
        height: 70.5%;
        margin-top: 5.7%;

        iframe {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }
    .gabee {
      position: absolute;
      @include to-percent($sec-height, $w: 522, $left: 507);
      bottom: 0;
      z-index: 1;
    }
    .signature-gabee {
      position: absolute;
      @include to-percent($sec-height, $w: 95, $top: 388, $left: 425);
    }
    .bg-line {
      position: absolute;
      display: block;
      @include res-bg;
      @include to-percent($sec-height, $w: 1062, $h: 567, $left: 0);
      bottom: 60px;
      z-index: 0;
      background-image: url(images/sec02-bg-line.png);
    }

    @include screen("mobile") {
      .section2-gabee {
        position: relative;
        // height: 110.1%;

        .title-wrapper {
          @include to-percent-m($sec-height-m, $w: 260, $top: 45, $left: 54);

          h2 {
            font-size: vw(27px);
            line-height: 1.2;
            &::before {
              @include pseudo(vw(18px), vw(13px));
              top: -6.3%;
              left: -8.9%;
              background: url(images/sec02-quot1-m.png) no-repeat top center;
              background-size: contain;
            }
            &::after {
              @include pseudo(vw(16px), vw(14px));
              bottom: 29%;
              right: 37.5%;
              background: url(images/sec02-quot2-m.png) no-repeat top center;
              background-size: contain;
            }
          }
          p {
            margin-top: 3%;
            font-size: clamp(vw(13px), vw(16px), vw(14px));
            line-height: vw(25px);
            letter-spacing: vw(-0.5px);
            > span {
              display: block;
            }
          }
        }

        .gabee {
          @include to-percent-m($sec-height-m, $w: 306, $left: 44);
        }
        .signature-gabee {
          @include to-percent-m($sec-height-m, $w: 56, $top: 206, $left: 50);
        }
        .bg-line {
          display: none;
        }
      }

      .section2-shorts {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: unset;
        width: 100%;
        height: auto;
        padding: 0;

        .flip-title-wrapper {
          position: absolute;
          margin-top: 11%;

          h2 {
            font-size: vw(24px);
            text-align: center;
            align-items: center;
            letter-spacing: -0.12rem;

            .flip-text-wrapper {
              width: vw(145px);
              height: vw(49px);
              max-width: 145px;
              max-height: 49px;
              .flip-text {
                em {
                  font-size: vw(28px);
                }
              }
            }
            > span:first-child {
              gap: vw(11px);
            }
            > span:last-child {
              margin-top: 1.4%;
            }
          }
        }

        .shorts {
          position: absolute;
          top: 23%;
          width: 74%;
          height: 71.1%;
          margin: 0 auto;

          // iframe {
          //   position: absolute;
          //   top: -60px;
          //   bottom: -60px;
          //   left: 0;
          //   width: 100%;
          //   height: calc(100% + 120px);
          //   border: none;
          // }
          // &::after {
          //   @include pseudo(100%, 100%);
          //   z-index: 1;
          // }
        }
      }
    }
  }

  @keyframes flipX {
    0% {
      transform: rotateX(0deg);
    }
    14.285% {
      transform: rotateX(180deg);
    }
    50% {
      transform: rotateX(180deg);
    }
    64.285% {
      transform: rotateX(360deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
}
