.#{$app-name} {
  .section1 {
    position: relative;
    overflow: hidden;

    will-change: transform;
    height: auto !important;
    max-height: none !important;

    .section-trans-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      will-change: transform;

      &.bg1 {
        background: url(images/sec01-1-bg.jpg) no-repeat top center;
        background-size: cover;
      }
      &.bg2 {
        background: url(images/sec01-2-bg.jpg) no-repeat top center;
        background-size: cover;
        transform: translateY(100%);
        transition: all 1.3s ease;
      }

      @include screen("mobile") {
        &.bg1 {
          background: url(images/sec01-1-bg-m.jpg) no-repeat top center;
          background-size: cover;
        }
        &.bg2 {
          background: url(images/sec01-2-bg-m.jpg) no-repeat top center;
          background-size: cover;
        }
      }
    }

    .section-pin-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .section1-1,
    .section1-2 {
      will-change: transform;
      transition: opacity 0.6s ease;
    }

    &.active {
      .section-trans-bg.bg2 {
        transform: translateY(0);
      }
      .section1-1 {
        opacity: 0;
        pointer-events: none;
      }
      .section1-2 {
        opacity: 1;
        z-index: 2;
      }

      .gabee {
        transform: translateX(40px);
      }
      .arisha {
        transform: translateX(0);
      }
    }

    .diamond {
      transition: opacity 0.7s ease;
      animation: diamondFloat 0.7s ease-in-out infinite alternate;
      &.active {
        opacity: 1;
      }
      &.diamond1 {
        animation-delay: 0s;
      }
      &.diamond2 {
        animation-delay: 0.3s;
      }
    }
  }

  .section1:not(.active) ~ .app-section.section2 .app-inner {
    z-index: -1 !important;
    opacity: 0 !important;
  }

  @media (max-width: 767px) and (orientation: portrait) {
    .pin-spacer:has(.section1:not(.active)) {
      margin-bottom: vw(-200px) !important;
    }
    .section1 .section1-2 {
      margin-top: vw(200px);
    }
    .section1.active::after {
      @include pseudo(100%, vw(200px), relative);
    }
  }

  @media (min-width: 768px) {
    .pin-spacer:has(.section1:not(.active)) {
      margin-bottom: vw(-120px, 1920) !important;
    }
    .section1 .section1-2 {
      margin-top: vw(120px, 1920);
    }
    .section1.active::after {
      @include pseudo(100%, vw(120px, 1920), relative);
    }
  }

  @media (min-width: 768px) and (orientation: portrait) {
    .section1-1,
    .section1-2 {
      height: auto !important;
      max-height: none !important;
    }
  }

  .section1-1 {
    $sec-height: 1030;
    $sec-height-m: 664;

    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100vh;
    z-index: 1;

    .sub-title {
      position: absolute;
      @include to-percent($sec-height, $w: 1008, $top: 75, $left: 466);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 169, $top: 30, $left: 96);
      }
    }
    .main-title-copy {
      position: absolute;
      @include to-percent($sec-height, $w: 264, $top: 488, $left: 1293);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 106, $top: 219, $left: 246);
      }
    }
    .main-title {
      position: absolute;
      display: block;
      @include res-bg;
      @include to-percent($sec-height, $w: 220, $h: 350, $top: 144);
      transform: translateY(-55px);
      opacity: 0;
      > span {
        @include sr-only;
      }
      &.title1 {
        @include to-percent($sec-height, $left: 344);
        background-image: url(images/sec01-1-title1.png);
      }
      &.title2 {
        @include to-percent($sec-height, $left: 554);
        background-image: url(images/sec01-1-title2.png);
      }
      &.title3 {
        @include to-percent($sec-height, $left: 748);
        background-image: url(images/sec01-1-title3.png);
      }
      &.title4 {
        @include to-percent($sec-height, $left: 956);
        background-image: url(images/sec01-1-title4.png);
      }
      &.title5 {
        @include to-percent($sec-height, $left: 1165);
        background-image: url(images/sec01-1-title5.png);
      }
      &.title6 {
        @include to-percent($sec-height, $left: 1357);
        background-image: url(images/sec01-1-title6.png);
      }

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 70, $h: 120, $top: 92);
        transform: translateY(-35px);
        &.title1 {
          @include to-percent-m($sec-height-m, $left: 6);
          background-image: url(images/sec01-1-title1-m.png);
        }
        &.title2 {
          @include to-percent-m($sec-height-m, $left: 68);
          background-image: url(images/sec01-1-title2-m.png);
        }
        &.title3 {
          @include to-percent-m($sec-height-m, $left: 127);
          background-image: url(images/sec01-1-title3-m.png);
        }
        &.title4 {
          @include to-percent-m($sec-height-m, $left: 176);
          background-image: url(images/sec01-1-title4-m.png);
        }
        &.title5 {
          @include to-percent-m($sec-height-m, $left: 237);
          background-image: url(images/sec01-1-title5-m.png);
        }
        &.title6 {
          @include to-percent-m($sec-height-m, $left: 292);
          background-image: url(images/sec01-1-title6-m.png);
        }
      }
    }
    .gabee {
      position: absolute;
      @include to-percent($sec-height, $w: 490, $left: 744);
      bottom: 0;
      transition: transform 0.7s ease;

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 306, $left: 54);
      }
    }
    .signature-gabee {
      position: absolute;
      @include to-percent($sec-height, $w: 274, $top: 538, $left: 424);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 105, $top: 248, $left: 14);
      }
    }
    .diamond {
      position: absolute;
      display: block;
      opacity: 0;
      @include res-bg;
      @include to-percent($sec-height, $w: 21, $h: 26);
      background-image: url(images/sec01-1-diamond.png);
      &.diamond1 {
        @include to-percent($sec-height, $top: 246, $left: 392);
      }
      &.diamond2 {
        @include to-percent($sec-height, $top: 208, $left: 1514);
      }

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 10, $h: 12);
        background-image: url(images/sec01-1-diamond-m.png);
        &.diamond1 {
          @include to-percent-m($sec-height-m, $top: 123, $left: 18);
        }
        &.diamond2 {
          @include to-percent-m($sec-height-m, $top: 133, $left: 338);
        }
      }
    }
  }

  .section1-2 {
    $sec-height: 1030;
    $sec-height-m: 664;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100vh;
    opacity: 0;
    z-index: 0;

    .sub-title {
      position: absolute;
      @include to-percent($sec-height, $w: 539, $top: 75, $left: 694);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 219, $top: 39.5, $left: 70);
      }
    }
    .main-title-copy {
      position: absolute;
      @include to-percent($sec-height, $w: 264, $top: 488, $left: 1293);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 106, $top: 219, $left: 246);
      }
    }

    .main-title {
      position: absolute;
      display: block;
      @include res-bg;
      @include to-percent($sec-height, $w: 220, $h: 350, $top: 144);
      transform: translateY(-55px);
      opacity: 0;
      > span {
        @include sr-only;
      }
      &.title1 {
        @include to-percent($sec-height, $left: 344);
        background-image: url(images/sec01-2-title1.png);
      }
      &.title2 {
        @include to-percent($sec-height, $left: 554);
        background-image: url(images/sec01-2-title2.png);
      }
      &.title3 {
        @include to-percent($sec-height, $left: 748);
        background-image: url(images/sec01-2-title3.png);
      }
      &.title4 {
        @include to-percent($sec-height, $left: 956);
        background-image: url(images/sec01-2-title4.png);
      }
      &.title5 {
        @include to-percent($sec-height, $left: 1165);
        background-image: url(images/sec01-2-title5.png);
      }
      &.title6 {
        @include to-percent($sec-height, $left: 1357);
        background-image: url(images/sec01-2-title6.png);
      }

      @include screen("mobile") {
        transform: translateY(-35px);
        @include to-percent-m($sec-height-m, $w: 70, $h: 120, $top: 92);
        &.title1 {
          @include to-percent-m($sec-height-m, $left: 6);
          background-image: url(images/sec01-2-title1-m.png);
        }
        &.title2 {
          @include to-percent-m($sec-height-m, $left: 68);
          background-image: url(images/sec01-2-title2-m.png);
        }
        &.title3 {
          @include to-percent-m($sec-height-m, $left: 127);
          background-image: url(images/sec01-2-title3-m.png);
        }
        &.title4 {
          @include to-percent-m($sec-height-m, $left: 176);
          background-image: url(images/sec01-2-title4-m.png);
        }
        &.title5 {
          @include to-percent-m($sec-height-m, $left: 237);
          background-image: url(images/sec01-2-title5-m.png);
        }
        &.title6 {
          @include to-percent-m($sec-height-m, $left: 292);
          background-image: url(images/sec01-2-title6-m.png);
        }
      }
    }
    .arisha {
      position: absolute;
      @include to-percent($sec-height, $w: 460, $left: 755);
      bottom: 0;
      transition: transform 0.7s ease;
      transform: translateX(-40px);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 258, $left: 102);
      }
    }
    .signature-arisha {
      position: absolute;
      @include to-percent($sec-height, $w: 330, $top: 532, $left: 404);

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 169, $top: 233, $left: 16);
      }
    }
    .diamond {
      position: absolute;
      display: block;
      @include res-bg;
      @include to-percent($sec-height, $w: 21, $h: 26);
      background-image: url(images/sec01-2-diamond.png);
      &.diamond1 {
        @include to-percent($sec-height, $top: 246, $left: 392);
      }
      &.diamond2 {
        @include to-percent($sec-height, $top: 208, $left: 1514);
      }

      @include screen("mobile") {
        @include to-percent-m($sec-height-m, $w: 10, $h: 12);
        background-image: url(images/sec01-2-diamond-m.png);
        &.diamond1 {
          @include to-percent-m($sec-height-m, $top: 123, $left: 18);
        }
        &.diamond2 {
          @include to-percent-m($sec-height-m, $top: 133, $left: 338);
        }
      }
    }
  }

  // 다이아몬드 플로팅 애니메이션
  @keyframes diamondFloat {
    0% {
      transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.3) rotate(10deg);
    }
  }
}
