.section5 {
  $sec-height: 865;
  $sec-height-m: 453;

  .title-wrapper {
    position: absolute;
    top: 15.8%;
    left: 20.8%;
    color: #111111;

    h2 {
      strong {
        font-weight: bold !important;
      }
      font-size: fluid-font(44px, $min: 20px);
      line-height: 1.2;
    }

    @include screen("mobile") {
      top: 13%;
      left: 8.2%;

      h2 {
        font-size: vw(27px);
        line-height: 1;
        display: flex;
        flex-direction: column;
        gap: 2.7vw;
        letter-spacing: -0.2rem;
      }
    }
  }

  .slider-wrapper {
    position: absolute;
    top: 27.8%;
    left: 18.9%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      gap: 23px;
      width: 568px;

      > p {
        padding-left: 52px;
        font-size: fluid-font(21px, $min: 14px);
        line-height: 1.476;
        color: #222;
        word-break: keep-all;
      }
    }

    // FIXME: 모바일 처리 필요
    @include screen("mobile") {
      top: 32.5%;
      left: 5.6%;

      .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: 23px;
        width: 370px;

        > p {
          display: none;
        }
      }
    }
  }
}
