.#{$app-name} {
  * {
    font-family: $base-font-system;
  }
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: $min-width;

  .section-bg {
    width: 100%;
    max-width: $max-width;
    pointer-events: none;
    margin: 0 auto;
  }

  .app-section {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    .only-mo {
      width: 100%;
    }
  }

  .app-inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: $max-width;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
