@charset "UTF-8";

$app-name: "thousand-girls-s2" !default;

$min-width: 320px;
$max-width: 1920px;
$artboard-width: 1200px;

$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 360px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1280px;

$base-font-system:
  Aggravo,
  Pretendard,
  Noto Sans KR,
  Noto Sans,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Apple SD Gothic Neo",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Malgun Gothic",
  "맑은 고딕",
  Dotum,
  "돋움",
  sans-serif !default;

@import "@repo/styles/abstracts/variables";
@import "@repo/styles/abstracts/functions";
@import "@repo/styles/abstracts/mixins";
@import "@repo/styles/reset";

@import "vendors/font";

@import "base/base";

@import "app";

@import "contents/section1";

@import "app_responsive";
