.#{$app-name} {
  .section4 {
    // padding-left: 20px;
    // padding-right: 20px;
    padding-left: clamp(20px, 7vw, 132px);
    padding-right: clamp(20px, 7vw, 132px);
    padding-top: 120px;

    h3 {
      font-size: clamp(2.8rem, 3vw, 5.5rem);
      line-height: clamp(40px, 4vw, 76px);
      margin-bottom: clamp(40px, 4vw, 100px);
      font-weight: 700;
      z-index: 1;
      position: relative;
    }

    .swiperSec04 {
      position: relative;
      overflow: hidden;

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }

      .swiper-slide {
        &.slide01 {
          .inner {
            align-items: end;

            .left {
              margin-right: clamp(20px, 3vw, 62px);
              flex: none;
              width: clamp(300px, 50vw, 663px);
            }
          }
        }

        &.slide02 {
          .inner {
            align-items: center;

            .left {
              margin-right: clamp(20px, 3vw, 120px);
              flex: none;
              width: clamp(400px, 50vw, 776px);
            }
          }
        }

        .inner {
          display: flex;



          .right {


            p {
              color: #b0886a;
              font-size: clamp(1.5rem, 1.5vw, 2.3rem);
              line-height: clamp(24px, 2vw, 40px);
              margin-bottom: clamp(30px, 4vw, 60px);
            }

            .btn {
              display: inline-flex;
              font-size: clamp(1.5rem, 1.5vw, 2.5rem);
              color: #b0886a;
              border-bottom: 1px solid #b0886a;
              line-height: 1;
              margin-bottom: clamp(30px, 4vw, 60px);
              letter-spacing: -1px;
              padding: 0;
            }
          }
        }
      }
    }

    .swiper-pagination {
      position: static;
      margin-top: clamp(20px, 4vw, 66px);
    }

    @include screen("mobile") {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15%;

      h3 {
        padding: 0 20px;
      }

      .swiperSec04 {
        .swiper-wrapper {
          // display: flex;
          align-items: start;
        }

        .swiper-slide {
          &.slide01 {
            .inner {
              align-items: start;

              .left {
                width: 100%;
              }

              img {
                width: 100%;
              }
            }
          }

          &.slide02 {
            .inner {
              align-items: start;

              .left {
                width: 100%;

                img {
                  width: 100%;
                }
              }

              .right {
                padding: 0 20px;
                text-align: center;

                p {
                  margin-left: 0 !important;
                }
              }


            }
          }

          .inner {
            display: block;

            p,
            .btn {
              margin: 30px 0 30px 20px !important;

              text-align: left;

            }
          }
        }
      }
    }
  }
}