.#{$app-name} {
  .section9 {
    padding-left: clamp(20px, 7vw, 132px);
    padding-right: clamp(20px, 7vw, 132px);
    padding-bottom: 140px;
    padding-top: 130px;

    h3 {
      text-align: center;
      color: #111111;
      font-weight: bold;
      line-height: 1.2;
      font-size: clamp(2.8rem, 5vw, 6.5rem)
    }

    .accordion {
      width: 100%;
      margin: 4.5% auto 0;
    }

    .faq-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      >li {
        &.active {
          .question::after {
            background: url(images/sec09-arrow-active.png) no-repeat center;
            background-size: contain;
          }
        }

        .question {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          padding-left: clamp(0px, 2vw, 30px);
          padding-right: clamp(0px, 2vw, 30px);
          padding-top: clamp(16px, 2vw, 38px);
          padding-bottom: clamp(16px, 2vw, 38px);
          border-bottom: 1px solid #b5b7bb;
          position: relative;

          h4 {
            color: #111111;
            font-weight: bold;
            line-height: clamp(26px, 2.5vw, 48px);
            font-size: clamp(1.6rem, 2vw, 2.5rem);
            padding-left: clamp(10px, 3vw, 72px);

            >span {
              margin-right: 0.7rem;
              position: absolute;
              left: 30px;
            }
          }

          &::after {
            content: "";
            position: relative;
            display: block;
            width: 19px;
            height: 19px;
            transition: transform 300ms;
            background: url(images/sec09-arrow.png) no-repeat center;
            background-size: contain;
            flex: none;

          }
        }

        .answer {
          display: none;
          padding: 4rem 3rem;
          border-bottom: 1px solid #b5b7bb;
          padding-left: clamp(0px, 2vw, 72px);
          padding-right: clamp(0px, 2vw, 72px);
          padding-top: clamp(16px, 2vw, 38px);
          padding-bottom: clamp(16px, 2vw, 38px);

          p {
            color: #555555;
            line-height: 1.526;
            line-height: clamp(26px, 3vw, 41px);
            font-size: clamp(1.4rem, 2vw, 2.3rem);
            word-wrap: break-word !important;

            strong {
              font-weight: bold !important;
            }
          }
        }
      }
    }

    @include screen("mobile") {
      padding-top: 15%;
      padding-bottom: 15%;

      h3 {
        font-size: vw(27px);
      }

      .accordion {
        margin: vw(26px) auto 0;
      }

      .faq-list {
        >li {
          .question {
            gap: 10px;
            border-bottom: 1px solid #757880;

            h4 {

              >span {
                margin-right: vw(8px);
                left: 0;
              }
            }

            &:after {
              width: 10px;
              height: 10px;
            }
          }

          .answer {

            p {
              letter-spacing: -0.05rem;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}