.#{$app-name} {
  .section2 {
    // overflow: hidden;
    padding-top: clamp(40px, 10vw, 220px);
    padding-left: clamp(20px, 7vw, 132px);
    padding-right: clamp(20px, 7vw, 132px);

    .app-inner {
      padding-top: 60px;
      position: relative;
      margin: auto;
      display: flex;
      gap: 30px;
      justify-content: space-between;
    }

    h3 {
      position: absolute;
      right: 0;
      top: 0;
      color: #b18766;
      font-size: clamp(5.2rem, 10vw, 13.4rem);
      font-weight: 300;
      letter-spacing: -2.5px;
      text-align: right;

      img {
        width: clamp(400px, 60vw, 770px);
      }

      b {
        font-weight: 700;
      }

      span {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: left;
      }
    }

    .imgItem {
      position: relative;

      // margin-top: -100px;

      &.imgItem01 {
        width: clamp(330px, 40vw, 693px);
        margin-bottom: 250px;

      }

      &.imgItem02 {
        width: clamp(170px, 20vw, 350px);
        z-index: 2;
        // transform: translateY(-30vh);
        position: absolute;
        left: 2vw;

        .text {
          margin-top: 60px;
          padding-left: 60px;
        }
      }

      &.imgItem03 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        // margin-left: 60px;
        width: clamp(414px, 44vw, 894px);
        // flex: 1;
        // align-items: end;

        >img {
          max-width: clamp(400px, 50vw, 894px);
        }

        // position: absolute;
        // right: 0;
        // top: 80vh;
      }


    }

    .swiperSec02 {
      overflow: hidden;
      width: 100%;
      position: relative;


      img {
        width: 100%;
      }

    }







    @include screen("mobile") {
      padding-left: 0;
      padding-right: 0;

      .app-inner {
        flex-direction: column;
        padding-top: 0;
      }

      h3 {
        position: static;
        padding: 0 20px;
        text-align: center;
        max-width: 430px;
        margin: auto;

        img {
          margin-top: 14px;
          width: 100%;
        }

      }

      .imgItem {

        &.imgItem01 {
          // width: 100%;
          max-width: 430px;
          margin: 44px auto 0;
        }

        &.imgItem02 {
          z-index: 2;
          left: 13%;
          transform: translateY(10vh);

          .text {
            margin-top: 80px;
            padding-left: 0;
          }
        }

        &.imgItem03 {
          width: 100%;
          max-width: 430px;
          padding: 0 20px;
          // width: 100%;
          position: relative;
          margin: auto;
          margin-top: 30vh;
        }




      }
    }
  }
}